{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<form action="{{path('quizz_me_again')}}" method="POST">
    {{page}}
    <button>SEND</button>
</form>
{% endblock %}
